# React Native
node_modules/
npm-debug.log
yarn-error.log
# Gradle files
android/app/build/
android/captures/
# Android Studio
android/.idea/
# iOS
ios/Pods/
ios/Podfile.lock
ios/build/
# macOS
.DS_Store
# Visual Studio Code
.vscode/
# Android
*.iml
.gradle/
build/
# Miscellaneous
**/.expo/
**/__MACOSX/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*